# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token
LINE_CHANNEL_SECRET=your_line_channel_secret

# Google Service Account
GOOGLE_SERVICE_ACCOUNT_KEY=your_base64_encoded_service_account_key

# Spreadsheet
GOOGLE_SHEETS_SPREADSHEET_ID=your_spreadsheet_id 